@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
